/* Small only */
@media screen and (max-width: 39.9375em) {
    .r { 
        @include rows($row-small-width, $row-small-border);
    }

    .c0, .c1, .c2, .c25, .c3, .c30, .c4, .c5, .c6, .c7, .c75, .c8, .c9 { 
        width: 100%; 
        float: none;
        padding: 10px 0px;  
    }

    .center-small {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        margin-bottom: 6px;
        text-align: center;
    }

    .right {
        float: none;
    }

   @include fonts($headers-small);

   #forma {
       width: 100%;
   }

   select {
       width: 100%;
   }

   // Support questions-answers page 
#questions {
    display: block;
    position: relative;

    //Divide page into two columns
    h1 {
        display: block;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        float: none;
    }

    //Questions and answers are presented in DL
    dl {
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 0 0 0px 0;
        margin: 0 0 0px 0; //default 16
        width: 100%;
        float: none;
    }

    dt {
        font-weight: bold;
        font-size: 1.2rem;
    }

    dd {
        margin: 0 0 40px 0;
    }
}

}