footer
 .r
  .c5
   span Navigation
   nav.center-small
    ul
     li How it works
     li Payment
     li 
      a(href=siteurl + 'support/questions-answers.html', title="Support page") Support
     li About us
     li 
      a(href=siteurl + 'privacy.html', title="Privacy") Privacy
     li Contacts
  .c5
   p Esame greičiausiai auganti apklausų aplinka Lietuvoje. Mūsų nariai yra interneto vartotojai, Lietuvos gyventojai, kurių amžius yra nuo 14 iki 75 metų. Kiekvienas narys už apklausų pildymą ir dalinimąsi nuomone gauna atlygį.
   p ManoNuomone.lt atlieka gaminių, paslaugų, politikos ir prekinių ženklų tyrimus. Mus domina žmonių nuomonės ir pozicijos, mes nesiverčiame prekyba ar rinkodara. Apklausose galima dalyvauti kompiuteriu ar mobiliuoju telefonu. Mūsų nariai patys pasirenka ar dalyvauja ir kada jie dalyvauja apklausose.
   p Su dalyviais atsiskaitoma už jų pateiktus atsakymus. Prisijungęs prie mūsų, už dalyvavimą kiekvienoje apklausoje, gauni taškus, už kuriuos, gali pasirinkti įvairių prekių ir paslaugų. Pelnytų taškų skaičius priklauso nuo apklausos ilgio ir sudėtingumo. Po to, atsitiktinės atrankos būdu, renkame apklausas užpildžiusius vartotojus, kurie laimi šaunius prizus