header
 .r
  .c3 
   a(href=siteurl, title="Home page")
    img#logo(src="https://www.manonuomone.lt/assets/img/logo.png", alt="Logotipas") 
  .c3
   span.center-small Navigation
   nav.center-small
    ul
     li How it works
     li Payment
     li 
      a(href=siteurl + 'support/questions-answers.html', title="Support page") Support
     li About us
  .c3
   span.center-small Engage visitor to register OR log in
   ul.center-small
    li 
     a(href=siteurl + "sign-up.html", title="Sign-up") Sign-up
    li 
     a(href=siteurl + "sign-in.html", title="Sign-in") Sign-in