header
 .r
  .c3 
   a(href=siteurl, title="Home page")
    img#logo(src="https://www.manonuomone.lt/assets/img/logo.png", alt="Logotipas") 
  .c3
  .c3
   ul.right
    li 
     a(href=siteurl + "index.html", title="Sign-up") Sign-out