.r
 .c0
  h1 Your dashboard
 .c25
    p#taskai.center-small 1253 <br> <span> Your points </span>
 .c25
    p#taskai.center-small 53 <br> <span> Taken surveys </span>
 .c25   
    p#taskai.center-small 4 <br> <span> Lotteries </span>
 .c25   
    p#taskai.center-small 4 <br> <span> Tickets </span>
