.r
 #dashboard.c0
  p Your dashboard
  a#toggle-dashboard(href="#", title="Toggle hide/show dashboard") X 
  .c25
    p.results.center-small 1253 <br> <span> Your points </span>
  .c25
    p.results.center-small 53 <br> <span> Taken surveys </span>
  .c25   
    p.results.center-small 4 <br> <span> Lotteries </span>
  .c25   
    p.results.center-small 4 <br> <span> Tickets </span>

script(src= siteurl + 'js/hide-dashboard.js')