extends ./default.pug

block main
 .r
  #giftspage.c0
   section
    h1 Gifts, prizes, etc.
    .r
     -var i=1;
     while i < 7
      .c5
       article
        img.img(src="https://via.placeholder.com/350x150?text=Prize+image", alt="Prize image")
        h2 Prize name could be very long text #{i++}
        strong 123 points needed
        p Prize description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.