extends ./default.pug

block main
 .r
  .c0
   each page in collections.test
    article
     .r
      .c5
       img(src=page.img, alt=page.title)
      .c5
       h1 #{page.title}
       != page.contents 
//-  include ./partials/partners.pug
 