extends ./default.pug

block header
 include ./partials/header-profile.pug
 
block main
 include ./partials/top-dashboard.pug
 .r
  .c25
   include ./partials/profile-left-menu.pug
  
  .c7
   h1 Lottery
   p Explain user when lotteries will take place, cause it is not understandable how and when.
