extends ./default.pug

block header
 include ./partials/header-profile.pug
 
block main
 include ./partials/top-dashboard.pug
 section
  .r
   .c25
    include ./partials/profile-left-menu.pug
  
   #apklausa.c7
    span Number in brackers indicates how many surveys user can take
    h1 Quick surveys (4)
    section
     -var i=1;
     while i < 5
      article
       .r 
        .c8
         img(src="https://via.placeholder.com/150x150", alt="Image")
         img(src="https://via.placeholder.com/150x150", alt="Image")
         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         a(href="#", title="title").button See results
        .c2
         p <span class="points">14#{i++}</span> <br> points for this survey
         
    h2 Your past surveys! 
    section
     -var i=1;
     while i < 3
      article
       .r 
        .c8
         img(src="https://via.placeholder.com/150x150", alt="Image")
         img.inactive(src="https://via.placeholder.com/150x150", alt="Image")
         p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .c2
         p Your earned <br> <span class="points">13#{i++}</span>