extends ./default.pug

block header
 include ./partials/header-profile.pug
 
block main
 include ./partials/top-dashboard.pug
 .r
  .c25
   include ./partials/profile-left-menu.pug
  
  .c7
   h1 Lottery
   p Do not have a lottery page. So need information what you want to show for user in this page.
