extends ./default.pug

block header
 include ./partials/header-profile.pug
 
block main
 include ./partials/top-dashboard.pug
 section
  .r
   .c25
    include ./partials/profile-left-menu.pug
  
   .c7
    h1 Loterijos
    p Šią internetinę svetainę („Svetainė“) ir šią paslaugą („Paslauga“) valdo Estijoje registruota įmonė Intra Research OU (toliau vadinama „ManoNuomone.lt“). Ši privatumo politika paaiškina, kokią informaciją ManoNuomone.lt renka apie Svetainės narius ir kaip mes naudojame šią informaciją. ManoNuomone.lt narių programa veikia kaip apklausų platforma savanoriškai svetainėje užsiregistravusiems privatiems asmenims („Nariams“). Narys gali dalyvauti siūlomose apklausose kartu su paslauga, kurią teikia ManoNuomone.lt arba trečiosios šalys. Tam tikromis sąlygomis Nariams atlyginama dovanomis („Dovana“) už apklausų pildymą. 
