extends ./default.pug

block main
 section
  .r
   .c0
    
    form#forma(action="")
     h1 #{title}
     label(for="username") Please enter your e-mail address
     input(type="text" id="username")
     a(href="your-profile.html", title="title").button Sign-up
     a(href="index.html", title="title").button Cancel

block footer
 

