meta(property="fb:app_id" content=facebook_appid)
meta(property="og:title" content="Fotostudija aperture.lt")
meta(property="og:type" content="website")
meta(property="og:url" content="https://www.aperture.lt")
meta(property="og:image" content="https://www.aperture.lt/img/vyno-taure.jpg")