#forma {
	width: 50%;
	margin: 0 auto;
}

form {
	display: block;
	position: relative;
	width: 100%;

	.r {
		width: 100%;
	}
}


label {
	color: $title-color;
	font-weight: 400;

	select {
		margin: 0 0 0 10px;
	}

	#gim-year, #gim-month, #gim-day {
		margin: 0 40px 0 10px;
	}
}

input {
	display: block;
    box-sizing: border-box;
    border:1px solid gray;
	height: 2rem;
	width: 100%;
	margin-bottom: 20px;	
}

select {
	display: inline-block;
    box-sizing: border-box;
    border:1px solid gray;
	height: 2rem;
	// width: 25%;
	margin: 0 20px 20px 0;	
}

input[type='radio'] {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 4px 0 20px;
}

input[type='radio'] + label {
	display: inline-block;
	position: relative;
	bottom: 4px;
}

input[type='submit'] {

	background-color: #C5D671;
	border: none;
	color: white;
	text-align: center;
	font-size: 1.25rem;
	height: 60px;
}

fieldset {
	display: block;
	padding: 20px;
	margin: 20px 0 40px 0;
	border:1px solid rgba(128, 128, 128, 0.185);
}

legend {
	font-size: 1.25rem;
	font-weight: 400;
	color: $title-color;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}

.button {
	height: 50px;
	width: 200px;
	margin: 0 20px 0 0;
}

.notshow {
	display: none;
}