// Logo
#logo {
    background: rgb(209, 209, 209);
}

// Support questions-answers page 
#questions {
    display: block;
    position: relative;

    //Questions and answers are presented in DL
    dl {
        display: block;
        position: relative;
        box-sizing: border-box;
        padding: 0 0 10px 0;
        margin: 0 0 50px 0; //default 16
    }

    dt {
        position: relative;
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 1px solid rgb(228, 228, 228);
        margin-bottom: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .hide {
        display: block;
        position: relative;

        &:after{
            content: "+";
            position: absolute;
            top: 0px;
            right: 0px;
            height: 10px;
            width: 10px;
            font-size: 1em;
            color: rgb(179, 179, 179);
        }
    }

    .show {
        display: block;
        position: relative;

        &:after{
            content: "-";
            position: absolute;
            top: 0px;
            right: 0px;
            height: 10px;
            width: 10px;
            font-size: 1em;
            color: rgb(179, 179, 179);
        }
    }

    dd {
        margin-bottom: 40px;
        display: none;
    }
}

// Surveys and quick surveys
#surveypage, #lotterypage {

    .r {
        width: 100%;
    }

    article {
        border-bottom: 1px solid grey;

    }

    .notfinished {
        background: rgb(255, 254, 224);
    }

    .completed {
        background: rgb(224, 255, 228);
    }

    img {
        border-radius: 50%;
    }

    .button {
        margin: 20px 0 0 0;
    }
}

// #survey section article:last-child {
//     border-bottom: none;
// }

.results {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    margin-right: 40px;
    padding-top: 73px;
    padding-left: 6px;
    font-size: 4em;
    text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;

    span {
        font-size: 0.25em;
    }
}

.points {
    display: block;
    font-size: 1.8em;
}

.inactive {
    opacity: 0.5;
}

// .surveytime {

// }

.winnerdate {
    display: inline-block;
    padding-right: 40px;
    font-weight: 700; 
}

// Profile page navigation
#profile-nav {
    background: gray;
}

ul#profile-sections {
    position: relative;
    padding-left: 40px;

    li {
        display: inline-block;
        padding: 0 50px 0 0;

        &::after{
            content: "->";
            position: relative;
            top: -34px;
            right: 37px;
            height: 10px;
            width: 10px;
            font-size: 2em;
        }

        span {
            display: block;
            position: relative;
        }

    }

    // &::after{
    //     content: " ";
    //     position: absolute;
    //     top: 30px;
    //     left: 0;
    //     height: 10px;
    //     width: 100%;
    //     background: green;
    // }
}

#surveys, #quick-surveys, #lottery, #friends, #profile {
    &::before{
        content: " ";
        background: url(../../img/calendar-check-regular.svg) center no-repeat;
        display: inline-block;
        left: 20px;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        vertical-align: top;
    }
}
// #quick-surveys {}
// #lottery {}
// #friends {}
// #profile {}

// Used in all pages
.button {
	display: inline-block;
	position: relative;
	height: 22px;
	width: 200px;
	margin: 20px 20px 0 0;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid gray;
    text-align: center;
    background: white;
    
    &:hover {
        color: white;
        background: gray;
    }
}

// Dashboard
#dashboard {
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
}

#toggle-dashboard {
 position: absolute;
 display: block;
 right: 10px; top: 4px;
}

// Gifts page
#giftspage {
    box-sizing: border-box;

    .r {
        width: 100%;
    }

    .c5 {
        padding: 0 30px 30px 0;
    }

    img {
        padding: 0 0 20px 0;
    }

    article {
        padding: 10px;
        border: 1px solid rgb(218, 218, 218);
        // border-radius: 25px;    
    }
}

#partners {
    img {
        box-sizing: border-box;
        margin: 0;
        padding: 5px 5px 0 0;
        vertical-align:bottom;
    }
}

// News page
#newspage{

    .r {
        border-bottom: 1px solid rgb(218, 218, 218);
    }

    p:last-child {
        padding: 0;
    }

}

.va > * {
    vertical-align: middle;
}

.va-img {
    display: inline-block;
    width: 50%;
    // border: 1px solid red;
}

.va-text {
    display: inline-block;
    box-sizing: border-box;
    padding: 40px;
    width: 49%;
    // border: 1px solid blue;
}

header nav a {
    position: relative;
    display: inline-block;
    margin-left: 40px
}

header {
    border-bottom: 1px solid rgba(243, 243, 243, 0.5);
}

header a.button {
    margin: 0 0 10px 0;
    padding: 10px;
    width: 150px;
}

.action {
    background: rgb(133, 224, 47);
    color: white;
    border: none;
}